@model ChanhThu_Store.Models.HoaDon

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Ngày lập
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayLap)
        </dd>
        <dt>
            Người đặt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Ten)
        </dd>

        <dt>
            Người nhận
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dd>
            Giảm giá
        </dd>
        <dt>
            @Model.Voucher.GiaTriGiam%
        </dt>

        <dt>
            Tổng tiền
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaHoaDon }) |
    @Html.ActionLink("Back to List", "Index")
</p>
