@model ChanhThu_Store.Models.SanPham

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="img-fit detail" style="background-image: url('@Model.HinhChinh'),url('/Content/images/default.png');"></div>
                        </div>
                        <div class="carousel-item">
                            @if (Model.Hinh1 != null)
                            {
                                <div class="img-fit detail" style="background-image: url('@Model.Hinh1');"></div>
                            }
                            else
                            {
                                <div class="img-fit detail" style="background-image: url('@Model.HinhChinh'),url('/Content/images/default.png');"></div>
                            }
                        </div>
                        <div class="carousel-item">
                            @if (Model.Hinh2 != null)
                            {
                                <div class="img-fit detail" style="background-image: url('@Model.Hinh2');"></div>
                            }
                            else
                            {
                                <div class="img-fit detail" style="background-image: url('@Model.HinhChinh'),url('/Content/images/default.png');"></div>
                            }
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                            <img onerror="this.src='/Content/images/default.png'" class="d-block w-100 img-fluid" src="@Model.HinhChinh" alt="" />
                        </li>
                        <li data-target="#carousel-example-1" data-slide-to="1">
                            @if (Model.Hinh1 != null)
                            {
                                <img class="d-block w-100 img-fluid" src="@Model.Hinh1" alt="" />
                            }
                            else
                            {
                                <img onerror="this.src='/Content/images/default.png'" class="d-block w-100 img-fluid" src="@Model.HinhChinh" alt="" />
                            }
                        </li>
                        <li data-target="#carousel-example-1" data-slide-to="2">
                            @if (Model.Hinh2 != null)
                            {
                                <img class="d-block w-100 img-fluid" src="@Model.Hinh2" alt="" />
                            }
                            else
                            {
                                <img onerror="this.src='/Content/images/default.png'" class="d-block w-100 img-fluid" src="@Model.HinhChinh" alt="" />
                            }
                        </li>
                    </ol>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <h2>@Model.TenSanPham</h2>
                    <h5>@string.Format("{0:#,##0}", @Model.Gia)đ</h5>
                    <p class="available-stock font-weight-bold text-color ">
                        Có sẵn:
                        <span class="font-weight-normal text-lowercase">@Model.SoLuongTonKho @Model.DonViTinh</span> -
                        <span class="bg-primary text-white p-1 full-radius font-weight-normal">@Model.SoLuongDaBan Đã bán </span>
                    <p>
                    <p class="available-stock font-weight-bold text-color  mt-1 mb-1">
                        Loại:
                        <span class="font-weight-normal">@Model.DanhMucCon.TenDanhMucCon</span>
                    <p>
                    <p class="available-stock font-weight-bold text-color  mt-1 mb-1">
                        Thương hiệu:
                        <span class="font-weight-normal">@Model.NhaSanXuat.TenNhaSanXuat</span>
                    <p>
                    <p class="available-stock">
                        <span class="like_num__label">
                            Yêu thích:
                            @if (Model.LuotYeuThich > 0)
                            {
                                <span id="like_num__value" class="like_num__value">@Model.LuotYeuThich</span>
                            }
                            else
                            {
                                <span id="like_num__value" class="like_num__value">0</span>
                            }

                            <span class="like_num__value"> lượt</span>
                        </span>
                    <p>
                        <h4>Mô Tả:</h4>
                    <p class="description-detail__product">@Model.Mota </p>
                    <form action="/them-vao-gio" method="post">
                        <ul>
                            <li class="max-width-mobile">
                                <div class="quantity-box mb-1">
                                    <label class="control-label">Số Lượng</label>
                                    <input class="user-input" value="1" min="1" name="soluong" id="soluong" max="@Model.SoLuongTonKho" type="number" />
                                </div>
                                <p class="message-max text-red text-center" data-id="@Model.MaSanPham">Đã đạt giới hạn tồn kho!</p>
                            </li>
                        </ul>
                        <input hidden name="masanpham" id="masanpham" value="@Model.MaSanPham" />
                        <div class="price-box-bar">
                            <div class="cart-and-bay-btn max-btn">
                                <button type="submit" class="ml-auto add-cart-notify btn hvr-hover max-width-mobile font-weight-bold text-capitalize p-2">Thêm vào giỏ</button>
                            </div>
                            @if (@Model.isLogin)
                            {
                                if (@Model.isLiked)
                                {
                                    <div class="cart-and-bay-btn max-btn">
                                        <a data-product-id="@Model.MaSanPham" class="btn user-liked js-tongle-yeuthich"><i class="fas fa-heart"></i>Đã thích</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="cart-and-bay-btn max-btn">
                                        <a data-product-id="@Model.MaSanPham" class="btn user-not-like js-tongle-yeuthich"><i class="far fa-heart"></i>Yêu thích</a>
                                    </div>
                                }
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="card card-outline-secondary my-4 shadow" style="width:100%">
                <div class="card-header table-comment__title">
                    <h2 class="text-capitalize font-weight-bold table-comment__title-text">Đánh Giá Sản Phẩm</h2>
                </div>
                <div class="card-body list-comment__product-detail" id="list-comment__product-detail">
                    @{
                        Html.RenderAction("ShowDanhSachBinhLuan", "SanPhams", new { id = @Model.MaSanPham });
                    }
                </div>
                <div class="showmore">
                    <div id="loadMore" class="btn hvr-hover">Xem Thêm</div>
                    <div id="showLess" class="btn hvr-hover">Thu Gọn</div>
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div class="media mb-3 curent-user-comment">
                        @{
                            Html.RenderAction("GetAvatarComment", "Account");
                        }
                       
                        <div class="media-body">
                            <input hidden name="masanpham" value="@Model.MaSanPham" />
                            <input name="noidung" placeholder="Nhập bình luận..." class="user-input"></input>
                            <button id="post-comment" class="btn hvr-hover max-width-mobile font-weight-bold float-lg-right float-md-right btn-comment">
                                Đăng bình luận
                            </button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="media mb-3 curent-user-comment">
                        <img class="rounded-circle p-1 user-avatar__comment--type" src="~/Content/images/user-default.png" />
                        <div class="media-body">
                            <input name="noidung" readonly placeholder="Vui lòng đăng nhập để bình luận..." class="user-input"></input>
                            <a href="/dang-nhap" class="btn hvr-hover max-width-mobile font-weight-bold
                                    float-lg-right float-md-right btn-comment">
                                Đăng nhập
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>

        <!--<div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Sản Phẩm Nổi Bật</h1>-->
                    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p> -->
                <!--</div>
                <div class="featured-products-box owl-carousel owl-theme">
                    <div class="item">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="~/Content/images/banh1.png" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <ul>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Compare"><i class="fas fa-sync-alt"></i></a></li>
                                        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                                    </ul>
                                    <a class="cart" href="#">Thêm Vào Giỏ</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>Bánh Trứng</h4>
                                <h5> 10.000 đ</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

    </div>
</div>
<!-- End Cart -->
@section scripts{
    <script>
        /* ..............................................
        Yêu thích
        ................................................ */
        $(document).ready(function () {
            $(".js-tongle-yeuthich").click(function (e) {
                var luotyeuthich = document.getElementById('like_num__value')
                var curentLike = parseInt(luotyeuthich.innerText)
                var element = $(e.target);
                $.post("/api/yeuthich", { MaSanPham: element.attr("data-product-id") })
                    .done(function (result) {
                        if (result == "cancel") {
                            showNotify('Đã xóa khỏi Yêu thích!', 'heart-dislike-outline')
                            element
                                .removeClass('user-liked')
                                .addClass('user-not-like')
                                .text("")
                                .append(`<i class="far fa-heart"></i>Yêu thích`)

                            curentLike--;
                            curentLike = curentLike < 0 ? 0 : curentLike;
                            luotyeuthich.innerText = (curentLike).toString();

                        } else {
                            showNotify('Đã thêm vào Yêu thích!', 'heart-outline')
                            element
                                .removeClass('user-not-like')
                                .addClass('user-liked')
                                .text("")
                                .append(`<i class="fas fa-heart"></i>Đã thích`)

                            curentLike++;
                            luotyeuthich.innerText = (curentLike).toString();
                        }
                    }).fail(function () {
                        alert("Xảy ra lỗi khi yêu thích!");
                    });
            });
        });


        /* ..............................................
        Xem thêm và bớt comment
        ................................................. */

        //Số comment mặc định ban đầu
        var x = 5;
        const actionCount = x;

        const eleHide = `.comment-item:nth-child(n + ${actionCount + 1})`
        $(eleHide).hide()

        if ($("#myList li").length <= actionCount) {
            $('#loadMore').hide();
        }
        $('#showLess').hide();


        //hàm xem thêm comment
        function LoadMoreComment() {
            size_li = $("#myList li").length;
            x = (x + actionCount <= size_li) ? x + actionCount : size_li;
            $('#myList li:lt(' + x + ')').show();
            $('#myList li:lt(' + x + ')').css("display", "flex")
            $('#showLess').show();
            if (x >= size_li) {
                $('#loadMore').hide();
            }
        };

        //hàm ẩn bớt comment
        function ShowLessComment() {
            size_li = $("#myList li").length;
            x = (x - actionCount <= actionCount) ? actionCount : x - actionCount;
            $('#myList li').not(':lt(' + x + ')').hide();
            $('#loadMore').show();
            $('#showLess').show();
            if (x <= actionCount) {
                $('#showLess').hide();
            }
        };
        //Thêm sự kiện onclick 2 nút
        $('#loadMore').click(LoadMoreComment)
        $('#showLess').click(ShowLessComment)

        /* ..............................................
        load list curent comment user
        ................................................. */

        // hàm load bình luận
        function loadBinhLuan() {
            var maSP = $('input[name="masanpham"]').val();
            var noiDung = $('input[name="noidung"]').val();

            $.ajax({
                url: "/SanPhams/Binhluan",
                //type: "POST",
                data: { masanpham: maSP, noidung: noiDung },
                success: function (res) {
                    $('#list-comment__product-detail').html(res)
                    $('input[name="noidung"]').val("")

                    var currentAvt = $('#currentUser').first().attr('src');
                    var currentName = $('#currentUser').first().attr('user-name');
                    var currentEmail = $('#currentUser').first().attr('user-email');
                    var currentDate = $('#currentUser').first().attr('date');

                    // Avt cmt hiện tại
                    $(".user-avatar__comment").first().attr("src", currentAvt);

                    //Day cmt hiện tại
                    if (currentName != null) {
                        $('.user-comment__day').first().html(`Đăng bởi ${currentName} - ${currentDate}`)
                    } else {
                        $('.user-comment__day').first().html(`Đăng bởi ${currentEmail} - ${currentDate}`)
                    }

                    $('#showLess').hide();
                    if ($("#myList li").length > actionCount) {
                        $(eleHide).hide()
                        $('#loadMore').show();
                    }
                },
                error: function () {
                    alert("Xảy ra lỗi khi bình luận!");
                }
            })
        }

        $('#post-comment').click(loadBinhLuan);
        $('input[name="noidung"]').keypress(function (ele) {
            if (ele.keyCode == 13) {
                loadBinhLuan();
            }
        })

        /* ..............................................
        Thông báo thêm quá số lượng sản phẩm tồn kho
       ................................................. */
        function ThongBaoQuaSoLuong() {
            if (parseInt($('input[name="soluong"]').val()) > parseInt($('input[name="soluong"]').attr('max'))) {
                $('input[name="soluong"]').val(parseInt($('input[name="soluong"]').attr('max')));
                $('.message-max').show();
                setTimeout(function () {
                    $('.message-max').hide();
                }, 1000);
            } else {
                $('.message-max').hide();
            }

            if (parseInt($('input[name="soluong"]').val()) <= 1) {
                $('input[name="soluong"]').val(1)
            }
        }

        $('.message-max').hide();
        //$('input[name="soluong"]').change(ThongBaoQuaSoLuong);
        $('input[name="soluong"]').on("input", ThongBaoQuaSoLuong)


    </script>

}
