@model List<ChanhThu_Store.Models.BinhLuan>
@using System.Globalization;
@{ CultureInfo VN = new CultureInfo("vi-VN");}

@if (Model.Count() > 0)
{
<ul class="mr-2" id="myList">
    @foreach (var item in Model)
    {
        <li class="media mb-3 comment-item">
            <div class="mr-2">
                @if (item.AspNetUser != null)
                {
                    if (item.AspNetUser.Avatar != null)
                    {
                        <img class="rounded-circle p-1 user-avatar__comment" src="@item.AspNetUser.Avatar" />
                    }
                    else
                    {
                        <img class="rounded-circle p-1 user-avatar__comment" src="~/Content/images/user-default.png" />
                    }

                }
                else
                {
                    <img class="rounded-circle p-1 user-avatar__comment" src="~/Content/images/user-default.png" />
                }
            </div>
            <div class="media-body">
                <p>@item.NoiDungBinhLuan</p>
                @if (item.AspNetUser != null)
                {
                    if (@item.AspNetUser.Ten != null)
                    {
                        <small class="text-muted user-comment__day">Đăng bởi @item.AspNetUser.Ten - @item.NgayBinhLuan.ToString("d", VN)</small>
                    }
                    else
                    {
                        <small class="text-muted user-comment__day">Đăng bởi @item.AspNetUser.Email - @item.NgayBinhLuan.ToString("d", VN)</small>
                    }
                }
                else
                {
                    <small class="text-muted user-comment__day"></small>
                }
            </div>
        </li>
    }
</ul>
}
else
{
    <div class="text-center none-notify">Chưa có đánh giá nào!</div>
}



