@model List<ChanhThu_Store.Models.CartItem>

<div class="attr-nav">
    <ul>
        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>

        <li class="side-menu">
            <a href="#">
                <i class="fa fa-shopping-bag"></i>
                <span class="badge">@Model.Count</span>
                <p></p>
            </a>
        </li>

    </ul>
</div>
<!-- End Atribute Navigation -->
            </div>
<!-- Start Side Menu -->

<div class="side">
    <a href="#" class="close-side"><i class="fa fa-times"></i></a>
    <div class="cart-box">
        <ul class="cart-list">
            @{var Total = 0; }
            @foreach (var item in Model)
            {
                Total += item.Sanpham.Gia*item.Soluong; 
                <li>
                    <a href="#" class="photo">
                        @*<img src="@item.Sanpham.HinhChinh" class="cart-thumb" alt="" />*@
                        <div class="img-fit cart--mini" style="background-image: url('@item.Sanpham.HinhChinh'),url('/Content/images/default.png');"></div>
                    </a>
                    <h6><a href="#">@item.Sanpham.TenSanPham</a></h6>
                    <p>@item.Soluong x <span class="price">@string.Format("{0:#,##0}",@item.Sanpham.Gia) đ</span></p>
                </li>
            }
            <li class="total">
                <a href="/gio-hang" class="btn btn-default hvr-hover btn-cart">Xem giỏ hàng</a>
                <span class="float-right"><strong>Tổng: </strong>@string.Format("{0:#,##0}",@Total) VNĐ</span>
            </li>

        </ul>
    </div>
</div>
<!-- End Side Menu -->


