
@{
    ViewBag.Title = "_Main_Layout";
}

<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>ChanhThuStore</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/Content/images/chanhthustore_logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="~/Content/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--JQuery CSS-->
    <link rel="stylesheet" href="https://www.jqueryscript.net/css/jquerysctipttop.css" type="text/css">
    <!-- PageList CSS -->
    <link rel="stylesheet" href="~/Content/css/PagedList.css" />
    <!-- Value CSS -->
    <link rel="stylesheet" href="~/Content/css/value.css" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <!-- Other CSS -->
    <link rel="stylesheet" href="~/Content/css/all.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/baguetteBox.min.css">
    <link rel="stylesheet" href="~/Content/css/bootsnav.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap-select.css">
    <link rel="stylesheet" href="~/Content/css/carousel-ticker.css">
    <link rel="stylesheet" href="~/Content/css/jquery.paginate.css">
    @Scripts.Render("~/bundles/modernizr")

    <!--AOS animate-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!--Ionicon font-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>

<body>
    <!-- Start Loader -->
    <div id="loader__wrap" class="loader__wrap">
        <span id="loader__effect"></span>
    </div>
    <!-- End Loader -->
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-5 col-sm-12 col-xs-12 custom-about-shop">
                    @{ Html.RenderAction("SDTTop", "Home");}
                    <div class="our-link">
                        <ul>
                            <li><a href="/map"><i class="fas fa-location-arrow text-capitalize"></i> Địa Điểm Cửa Hàng</a></li>
                            <li><a href="/lien-he"><i class="fas fa-headset"></i> Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12 custom-login">
                    <div class="option-account">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                @{ Html.RenderAction("QuangCaoVoucherTop", "Vouchers");}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->
    <!-- Start Modal Add Success Notify-->
    <div class="modal">
        <div class="modal-notify">
            <ion-icon class="notify-icon" name=""></ion-icon>
            <p class="notify-title"></p>
        </div>
    </div>
    <!-- End Modal Add Success Notify-->
    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light navbar-default bootsnav">
            <!--bao gồm nav-->
            @{ Html.RenderAction("HeaderCart", "Home");}
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <form method="post" action="/tim-kiem">
        <div class="top-search">
            <div class="container">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input type="text" name="tukhoa" class="form-control" placeholder="Tìm kiếm sản phẩm...">
                    <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>
    </form>
    <!-- End Top Search -->

    @RenderBody()

    <!-- Start Instagram Feed  -->
    @Html.Partial("_Slider_footer", ChanhThu_Store.Models.BUS.SliderBUS.DanhSachSliderFooter())
    <!-- End Instagram Feed  -->
    @{
        Html.RenderAction("Footer_Info", "Home");
    }

    <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

    <!-- JQUERY LINK -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>

    <!-- ALL JS FILES -->
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="~/Content/js/jquery.superslides.min.js"></script>
    <script src="~/Content/js/bootstrap-select.js"></script>
    <script src="~/Content/js/inewsticker.js"></script>
    <script src="~/Content/js/bootsnav.js"></script>
    <script src="~/Content/js/images-loded.min.js"></script>
    <script src="~/Content/js/isotope.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/baguetteBox.min.js"></script>
    <script src="~/Content/js/form-validator.min.js"></script>
    <script src="~/Content/js/contact-form-script.js"></script>
    <script src="~/Content/js/custom.js"></script>
    <script src="~/Content/js/Cart.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/js/jquery.paginate.js"></script>
    <script src="~/Content/js/style.js"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("jsFooter", required: false)
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=3108397119391056" nonce="8nUv3pkF"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=3108397119391056" nonce="3W0Raxbs"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v12.0&appId=3108397119391056" nonce="RHi1lKsZ"></script>

    <script>
        /*INITIALIZE AOS */
        AOS.init();
    </script>
</body>

</html>