@model IEnumerable<ChanhThu_Store.Models.DanhMuc>
<div class="filter-sidebar-left">
    <div class="title-left">
        <h3>Phân Loại</h3>
    </div>
    <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
        @foreach (var item in Model)
        {
            <div class="list-group-collapse sub-men">
                <a data-toggle="collapse" aria-expanded="true" aria-controls="@item.MaDanhMuc" class="list-group-item list-group-item-action group-menu-title" href="#@item.MaDanhMuc">
                    @item.TenDanhMuc<small class="text-muted quantity-small quantity-dmc"></small>
                    <i class="fas fa-chevron-down arrow-down float-right"></i>
                </a>
                <div class="danh-muc collapse" id="@item.MaDanhMuc" data-parent="#list-group-men">
                    <div class="list-group group-danhmucon @item.MaDanhMuc">
                        @Html.Partial("_DanhMucCon_DM", ChanhThu_Store.Models.BUS.DanhMucBUS.DanhMucConTheoMaDanhMuc(@item.MaDanhMuc))
                    </div>
                </div>
            </div>

        }

    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.js" ></script>
<script>
    var groupDanhMucCon = document.querySelectorAll('.group-danhmucon')
    var quantitytSmall = document.querySelectorAll('.quantity-small.quantity-dmc')
    groupDanhMucCon.forEach((item, index) => {
        quantitytSmall[index].innerText = `(${item.childElementCount} loại)`
    })

    //var groupDanhMucCon = document.querySelectorAll('.group-danhmucon')
    //var quantitytSmall = document.querySelectorAll('.quantity-small.quantity-dmc')
    //var count = [];
    //var currentCount;
    //groupDanhMucCon.forEach((item, index) => {
    //    count.push(item.childElementCount)
    //    //count = item.childElementCount
    //    $('.quantity-small.loai-sp').each((i, e) => {
    //        if ($(e).html() == '(0)') {
    //            $('.danh-muc-con')[i].style.display = "none";
    //            currentCount = count[index] - 1 <= 0 ? 0 : count[index] - 1;
    //        }
    //    })
    //    quantitytSmall[index].innerText = `(${currentCount} loại)`
    //})
</script>