@model ChanhThu_Store.Models.ExternalLoginConfirmationViewModel
@{
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="container">
    <p class="text-info h3 mt-5">
        Bạn đã xác thực thành công với Google. Vui lòng nhập email người dùng cho trang web
        này bên dưới và nhấp vào nút Đăng ký để hoàn tất đăng nhập.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn hvr-hover" >Đăng ký</button>
        </div>
    </div>
</div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
