@using ChanhThu_Store.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}
<div class="cart-box-main">
    <div class="container">
        <div class="row new-account-login">
            <div class="col-sm-12 col-lg-12 mb-3">
                <div class="title-left account">
                    <h3 class="text-capitalize">Đăng Nhập Tài Khoản</h3>
                </div>
                @*<h5><a data-toggle="collapse" href="#formLogin" role="button" aria-expanded="false">Nhấn Vào Đây Để Đăng Nhập</a></h5>*@
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal mt-3 review-form-box", role = "form", id = "formLogin" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="InputEmail" class="mb-0">Email (<span class="text-red">*</span>)</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", id = "InputEmail", placeholder = "Nhập email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="InputPassword" class="mb-0">Mật Khẩu (<span class="text-red">*</span>)</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", type = "password", id = "InputPassword", placeholder = "Nhập mật khẩu" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <button type="submit" class="btn hvr-hover">Đăng Nhập</button>

                    <div><a href="/dang-ky" class="text-muted ask-register">Bạn chưa có tài khoản? Đăng ký ngay!</a></div>
                    <div><a href="/quen-mat-khau" class="text-muted ask-forgot-pass">Quên mật khẩu?</a></div>
                    @*<p>
                @Html.ActionLink("Quên mật khẩu?", "ForgotPassword")
            </p>*@

                    @*@Html.ActionLink("Bạn chưa có tài khoản? Đăng ký ngay !", "Register")*@
                    @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
                }
                <div class="regis-social">
                    <a style="display:block;" class="text-muted mt-2">Đăng nhập với Google hoặc Facebook</a>
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </div>
            </div>
        </div>
    </div>
</div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
