@model ChanhThu_Store.Models.AspNetUser

@{
    ViewBag.Title = "ThongTinCaNhan";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Thông Tin Cá Nhân</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Thông Tin Cá Nhân</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main text-center">
    @if (Model.Avatar != null)
    {
        <img class="avatar-info" src="@Model.Avatar"/>
    }
    else { 
        <img class="avatar-info" src="~/Content/images/user-default.png"/>
    }
    <dl class="dl-horizontal h5">
        <dt>
             Họ và Tên
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Ten)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.UserName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmailConfirmed)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PasswordHash)
            </dd>*@

        <dt>
            Số điện thoại
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd class="mb-3">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.DiemTichLuy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiemTichLuy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecurityStamp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecurityStamp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumberConfirmed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TwoFactorEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEndDateUtc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LockoutEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AccessFailedCount)
            </dd>*@

    </dl>
    <a href="/thong-tin-ca-nhan/chinh-sua" class="btn login hvr-hover text-center">Chỉnh Sửa</a>
</div>


