@model ChanhThu_Store.Models.SlideFooter

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

@using (Html.BeginForm("Edit", "SlideFootersAdmin", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="table-admin__title text-center">Chỉnh sửa thông tin <br />Ảnh cuối trang</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <span class="label-admin">Hình</span>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 mb-1">
                    <input id="linkImg" class="form-control" name="HinhSlideFooter" value="@Model.HinhSlideFooter" />
                </div>
                <div class="col-md-3 mb-1">
                    <a class="btn btn-outline-success d-flex flex-1 justify-content-center min-width-100" id="selectImg">Chọn ảnh</a>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.HinhSlideFooter, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group col-md-12">
        <div class="col-md-offset-2 btn-touch">
            <input type="submit" value="Cập nhật" class="btn btn-warning" />
        </div>
    </div>
    <div class="col-md-12 back-to-list ">
        @Html.ActionLink("Trở lại", "Index")
    </div>
</div>
}

