@model ChanhThu_Store.Models.ThongTinCuaHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ThongTinCuaHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayThanhLap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianMoCua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianMoCua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianDongCua)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianDongCua)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoiGioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoiGioiThieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhMinhHoa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhMinhHoa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TenCuaHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
