@model ChanhThu_Store.Models.SanPham

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}
@section jsCKFinder{
    @*<script>
        $('#selectImg').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#linkImg').val(fileUrl);
            };
            finder.popup();
        })
        $('#selectImg1').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#linkImg1').val(fileUrl);
            };
            finder.popup();
        })
        $('#selectImg2').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $('#linkImg2').val(fileUrl);
            };
            finder.popup();
        })
    </script>*@
 }

@using (Html.BeginForm("Create", "SanPhamsAdmin", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="table-admin__title text-center text-capitalize">Thêm sản phẩm</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <span class="label-admin">Tên Nhà Sản Xuất</span>
        <div class="col-md-12">
            @Html.DropDownList("MaNhaSanXuat", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NhaSanXuat.TenNhaSanXuat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Tên Danh Mục Con</span>
        <div class="col-md-12">
            @Html.DropDownList("MaDanhMucCon", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.DanhMucCon.TenDanhMucCon, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.MaSanPham, new { htmlAttributes = new { @class = "form-control" } })
    <div class="form-group">
        <span class="label-admin">Tên Sản Phẩm</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Hình trưng bày</span>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 mb-1">
                    <input id="linkImg" class="form-control" name="HinhChinh" value="" />
                </div>
                <div class="col-md-3 mb-1">
                    <a class="btn btn-outline-success d-flex flex-1 justify-content-center min-width-100" id="selectImg">Chọn ảnh</a>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.HinhChinh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Hình phụ 1</span>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 mb-1">
                    <input id="linkImg1" class="form-control" name="Hinh1" value="" />
                </div>
                <div class="col-md-3 mb-1">
                    <a class="btn btn-outline-success d-flex flex-1 justify-content-center min-width-100" id="selectImg1">Chọn ảnh</a>
                </div>
            </div> 
            @Html.ValidationMessageFor(model => model.Hinh1, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Hình phụ 2</span>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9 mb-1">
                    <input id="linkImg2" class="form-control" name="Hinh2" value="" />
                </div>
                <div class="col-md-3 mb-1">
                    <a class="btn btn-outline-success d-flex flex-1 justify-content-center min-width-100"  id="selectImg2">Chọn ảnh</a>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.Hinh2, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Giá</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Đơn vị tính</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.DonViTinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DonViTinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="label-admin">Mô Tả</span>
        <div class="col-md-12">
            @*<textarea class="text-area__admin-edit" id="Mota" name="Mota">@Model.Mota</textarea>*@
            <textarea cols="20" class="text-area__admin-edit" id="Mota" name="Mota" spellcheck="false"></textarea>
            @*@Html.TextAreaFor(model => model.Mota, new { htmlAttributes = new { @class = "text-area__admin-edit" } })*@
            @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Ngày Sản Xuất</span>
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.NgaySanXuat, new { type = "date", id = "datepicker", name = "DueDate", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NgaySanXuat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Hạn Sử Dụng</span>
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.HanSuDung, new { type = "date", id = "datepicker", name = "DueDate", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HanSuDung, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Số Lượng Tồn Kho</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.SoLuongTonKho, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTonKho, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Số Lượng Đã Bán</span>
        <div class="col-md-12">
            <input class="form-control text-box single-line" id="SoLuongDaBan" name="SoLuongDaBan" type="number" value="0">
            @*@Html.EditorFor(model => model.SoLuongDaBan, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.SoLuongDaBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="label-admin">Điểm tích lũy</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Diem, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Diem, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin">Tình Trạng <span class="font-italic">(Còn hàng)</span></span>
        <div class="col-md-12">
            <input class="form-control check-box" id="TinhTrang" name="TinhTrang" type="checkbox" value="true" checked>
            @*@Html.EditorFor(model => model.TinhTrang, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.TinhTrang, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-offset-2 btn-touch">
            <input type="submit" value="Thêm" class="btn btn-success" />
        </div>
    </div>
    <div class="col-md-12 back-to-list">
        @Html.ActionLink("Trở về", "Index")
    </div>
</div>
}