@model ChanhThu_Store.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";

}
@*@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal mt-3 review-form-box", role = "form", id = "formLogin" }))*@
<h2 class="text-center title-table">Đổi mật khẩu</h2>
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal mt-3 review-form-box", id = "formLogin", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 user-input-info">
            <div class="user-input__label">Mật khẩu hiện tại</div>
            <input class="form-control user-input" type="password" id="OldPassword" name="OldPassword" placeholder="Nhập mật khẩu cũ" />
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 user-input-info">
            <div class="user-input__label">Mật khẩu mới</div>
            <input class="form-control user-input" type="password" id="NewPassword" name="NewPassword" placeholder="Nhập mật khẩu mới" />
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12 user-input-info">
            <div class="user-input__label">Xác nhận mật khẩu mới</div>
            <input class="form-control user-input" type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Nhập lại mật khẩu mới" />
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-12 btn-update-info__wrap">
            <button type="submit" class="btn hvr-hover max-width-mobile text-capitalize m-auto p-2">Xác nhận</button>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}