@*@model ChanhThu_Store.Models.DanhMucCon*@
@model PagedList.IPagedList<ChanhThu_Store.Models.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Cửa hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Cửa Hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-left">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sắp xếp</span>
                                <form action="" class="hm-searchbox">
                                    <input id="MaDanhMucCon" name="id" hidden value="DMC02" type="radio" />
                                    <select id="basic" name="sapxep" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">Không</option>
                                        <option value="Ten" type="submit">Tên A → Z</option>
                                        <option value="TenGiam" type="submit">Tên Z → A</option>
                                        <option value="Gia" type="submit">Giá Thấp → Giá Cao Cao</option>
                                        <option value="GiaGiam" type="submit">Giá Cao → Giá Thấp</option>
                                        @*<option value="5" type="submit">Bán Chạy</option>*@
                                    </select>
                                </form>
                            </div>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab">
                                        <i class="fa fa-th"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Start product by submenu-->
                    <div class="product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class=" col-lg-4 col-xl-4 col-md-6 col-sm-6 ">
                                            <div class="products-single fix shadow full-radius">
                                                <div class="box-img-hover none-radius">
                                                    @if (item.isLogin)
                                                    {
                                                        if (item.isLiked)
                                                        {
                                                            <div class="type-lb" data-id="@item.MaSanPham">
                                                                <p class="like bottom-left-radius text-capitalize">Đã thích</p>
                                                            </div>
                                                        }
                                                    }
                                                    @*<img src="@item.HinhChinh" class="img-fluid" alt="Image">*@
                                                    <div class="img-fit product-mobile " style="background-image: url('@item.HinhChinh'),url('/Content/images/default.png');">
                                                    </div>
                                                    <div class="mask-icon">
                                                        <ul>
                                                            <li><a href="/cua-hang/san-pham?id=@item.MaSanPham" data-toggle="tooltip" data-placement="right" title="Chi tiết"><i class="fas fa-eye"></i></a></li>
                                                            <li>
                                                                @if (item.isLogin)
                                                                {
                                                                    if (item.isLiked)
                                                                    {
                                                                        <a product-data="@item.MaSanPham" class="heart-hover js-tongle-like" data-toggle="tooltip" data-placement="right"
                                                                           title="Yêu thích">
                                                                            <i class="fas fa-heart liked-heart-icon"></i>
                                                                        </a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a product-data="@item.MaSanPham" class="heart-hover js-tongle-like" data-toggle="tooltip" data-placement="right"
                                                                           title="Yêu thích">
                                                                            <i class="far fa-heart not-like-heart-icon"></i>
                                                                        </a>
                                                                    }
                                                                }
                                                                else
                                                                {
                                                                    <a href="/dang-nhap" class="heart-hover" data-toggle="tooltip" data-placement="right"
                                                                       title="Yêu thích">
                                                                        <i class="far fa-heart not-like-heart-icon"></i>
                                                                    </a>
                                                                }

                                                            </li>
                                                        </ul>
                                                        <a class="cart add-cart-notify text-capitalize hide-in-mobile font-weight-bold" href="/them-vao-gio?masanpham=@item.MaSanPham&soluong=1">Thêm Vào Giỏ</a>
                                                    </div>
                                                </div>
                                                <div class="why-text view-row-content">
                                                    <h4>@item.TenSanPham</h4>
                                                    <h5>@string.Format("{0:#,##0}", @item.Gia) đ</h5>
                                                    <a style="margin-top: 10px;" href="/them-vao-gio?masanpham=@item.MaSanPham&soluong=1" class="btn register hvr-hover text-capitalize add-cart-notify max-width-mobile show-in-mobile font-weight-bold font-size-mobile">Thêm vào giỏ</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                @foreach (var item in Model)
                                {
                                    <div class="list-view-box">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix shadow">
                                                    <div class="box-img-hover none-radius ">
                                                        @if (item.isLogin)
                                                        {
                                                            if (item.isLiked)
                                                            {
                                                                <div class="type-lb" data-id="@item.MaSanPham">
                                                                    <p class="like bottom-left-radius text-capitalize">Đã thích</p>
                                                                </div>
                                                            }
                                                        }
                                                        @*<img src="@item.HinhChinh" class="img-fluid" alt="Image">*@
                                                        <div class="img-fit" style="background-image: url('@item.HinhChinh'),url('/Content/images/default.png');"></div>
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li>
                                                                    <a href="/cua-hang/san-pham?id=@item.MaSanPham" data-toggle="tooltip"
                                                                       data-placement="right" title="Xem chi tiết">
                                                                        <i class="fas fa-eye"></i>
                                                                    </a>
                                                                </li>
                                                                <li>
                                                                    @if (item.isLogin)
                                                                    {
                                                                        if (item.isLiked)
                                                                        {
                                                                            <a product-data="@item.MaSanPham" class="heart-hover js-tongle-like" data-toggle="tooltip" data-placement="right"
                                                                               title="Yêu thích">
                                                                                <i class="fas fa-heart liked-heart-icon"></i>
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <a product-data="@item.MaSanPham" class="heart-hover js-tongle-like" data-toggle="tooltip" data-placement="right"
                                                                               title="Yêu thích">
                                                                                <i class="far fa-heart not-like-heart-icon"></i>
                                                                            </a>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="/dang-nhap" class="heart-hover" data-toggle="tooltip" data-placement="right"
                                                                           title="Yêu thích">
                                                                            <i class="far fa-heart not-like-heart-icon"></i>
                                                                        </a>
                                                                    }
                                                                </li>
                                                            </ul>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width view-column-content full-radius shadow col-single-product__description">
                                                    <h4>@item.TenSanPham</h4>
                                                    <h5>@string.Format("{0:#,##0}", @item.Gia) đ</h5>
                                                    <p>
                                                        @item.Mota
                                                    </p>
                                                    <a class="btn hvr-hover add-cart-notify" href="/them-vao-gio?masanpham=@item.MaSanPham&soluong=1">Thêm Vào Giỏ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model.Count() > 0)
                    {
                        <div class="pagelist_custom">
                            <span class="show-page-text">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</span>
                        </div>
                    }
                    else
                    {
                        <div class="empty-product">
                            <div class="none-notify text-center empty-product__title">Các sản phẩm của loại này hiện đang được cập nhật!
                            <br>Xin vui lòng quay lại sau!</div>
                            <img class="empty-product__img" src="~/Content/images/empty-product.png" />
                        </div>
                    }
                    @try
                    {
                        if (ViewBag.SapXepHienTai != null)
                        {
                            @Html.PagedListPager(Model, trang =>
                      "/cua-hang/danh-muc-con?id=" + Model[0].MaDanhMucCon + "&trang=" + trang + "&sapxep=" + ViewBag.SapXepHienTai);
                        }
                        else
                        {
                            @Html.PagedListPager(Model, trang =>
                         "/cua-hang/danh-muc-con?id=" + Model[0].MaDanhMucCon + "&trang=" + trang);
                        }
                    }
                    catch { }
                    <!--End product by submenu-->
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Tìm kiếm..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    @Html.Partial("_PhanLoaiDanhMuc", ChanhThu_Store.Models.BUS.DanhMucBUS.DanhSachDM())
                    <!-- <div class="filter-price-left">
                        <div class="title-left">
                            <h3>Price</h3>
                        </div>
                        <div class="price-box-slider">
                            <div id="slider-range"></div>
                            <p>
                                <input type="text" id="amount" readonly style="border:0; color:#fbb714; font-weight:bold;">
                                <button class="btn hvr-hover" type="submit">Filter</button>
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
@section scripts{
    <script>
        //var listLiked = document.querySelectorAll('.js-tongle-like')
        //console.log(listLiked)
        //Array.from(listLiked).forEach((item) => {
        //    console.log(item)
        //})
        $(document).ready(function () {
            $(".js-tongle-like").click(function (e) {
                var element = $(e.target);
                $.post("/api/yeuthich", { MaSanPham: element.attr("product-data") })
                    .done(function (result) {
                        if (result == "cancel") {
                            alert("Thành công!");
                            showNotify('Đã xóa khỏi Yêu thích!', 'heart-dislike-outline', timeShowNotify)
                            element
                                //.text("")
                                .append(` <i class="fas fa-heart not-like-heart-icon"></i>`)

                        } else {
                            alert("Xóa!");
                            showNotify('Đã thêm vào Yêu thích!', 'heart-outline', timeShowNotify)
                            element
                                //.text("")
                                .append(` <i class="fas fa-heart liked-heart-icon"></i>`)
                        }
                    })
                    .fail(function () {
                        alert("Xảy ra lỗi!");
                    });
            });
        });
    </script>
}