@model IEnumerable<ChanhThu_Store.Models.DanhMucCon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Bộ Sưu Tập</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Bộ Sưu Tập</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Gallery  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Danh Mục</h1>
                    <p>Các sản phẩm luôn mới nhất, rẻ nhất  và chất lượng nhất.</p>
                </div>
            </div>
        </div>
        @{
            Html.RenderAction("_BoSuTap_DM", "DanhMucCons");
        }

        <div class="row special-list">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-6 special-grid @item.MaDanhMuc">
                    <div class="products-single fix shadow gallery-box">
                        <div  class="box-img-hover ">
                            <a href="/cua-hang/loai-san-pham?id=@item.MaDanhMucCon">
                                <div class="img-fit gallery" style="background-image: url('@item.Hinh'),url('/Content/images/default.png');"></div>
                                <span class="gallery__name">@item.TenDanhMucCon</span>
                                <span class="mask"></span>
                            </a>
                            @*<img src="@item.Hinh" class="img-fluid" alt="Image">*@
                            @*<div class="mask-icon">

                                <a class="cart" href="/cua-hang/danh-muc-con?id=@item.MaDanhMucCon">@item.TenDanhMucCon</a>

                            </div>*@
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- End Gallery  -->
