@model IEnumerable<ChanhThu_Store.Models.ThongTinCuaHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiaChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThanhLap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianMoCua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianDongCua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoiGioiThieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhMinhHoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiaChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThanhLap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianMoCua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianDongCua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoiGioiThieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhMinhHoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TenCuaHang }) |
            @Html.ActionLink("Details", "Details", new { id=item.TenCuaHang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TenCuaHang })
        </td>
    </tr>
}

</table>
