@model ChanhThu_Store.Models.DanhMucCon

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}


@using (Html.BeginForm("Edit", "DanhMucConsAdmin", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h2 class="admin-title text-white text-center text-capitalize">Chỉnh sửa thông tin loại sản phẩm</h2>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaDanhMucCon)

    <div class="form-group">
        <span class="label-admin"  >Tên Danh Mục</span>
        <div class="col-md-12">
            @Html.DropDownList("MaDanhMuc", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaDanhMuc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <span class="label-admin text-capitalize"  >Tên loại sản phẩm</span>

        <div class="col-md-12">
            @Html.EditorFor(model => model.TenDanhMucCon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenDanhMucCon, "", new { @class = "text-danger" })
        </div>

    </div>
    <div class="form-group">
        <span class="label-admin"  >Hình</span>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Hinh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hinh, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group col-md-12">
        <div class="col-md-offset-2 btn-touch">
            <input type="submit" value="Cập nhật" class="btn btn-warning" />
        </div>
    </div>
    <div class="col-md-12 back-to-list ">
        @Html.ActionLink("Trở lại", "Index")
    </div>
</div>
}
