<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/trang-chu">
        @*<div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>*@
        <div class="sidebar-brand-text mx-3">
            <i class="fas fa-home"></i>
            ChanhThuStore
        </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <!-- Divider -->
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    @*<div class="sidebar-heading">
            Addons
        </div>*@

    <!-- Nav Item - Pages Collapse Menu -->
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/nha-san-xuat">
            <i class="far fa-newspaper"></i>
            <span>Nhà sản xuất</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/admin/danh-muc">
            <i class="far fa-list-alt"></i>
            <span>Danh mục</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/danh-muc-con">
            <i class="far fa-file-alt"></i>
            <span>Danh mục con</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/san-pham">
            <i class="fas fa-users"></i>
            <span>Sản phẩm</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/hoa-don">
            <i class="fas fa-users"></i>
            <span>Hóa đơn</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Chi tiết hóa đơn</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/khach-hang">
            <i class="fas fa-users"></i>
            <span>Khách hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Voucher</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Thông tin cửa hàng</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Banner</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Slider Header</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","AspNetUsersAdmin")">
            <i class="fas fa-users"></i>
            <span>Slider Footer</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">



</ul>
<!-- End of Sidebar -->
