@model List<ChanhThu_Store.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Giỏ hàng</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/trang-chu">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Giỏ hàng</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @{var Total = 0; }
                @if (Model.Count > 0)
                {
                    <div class="table-main table-responsive shadow">
                        <table class="table custom">
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Giá</th>
                                    <th>Số lượng</th>
                                    <th>Tổng cộng</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>

                            <tbody id="cart-index__body">
                                @foreach (var item in Model)
                                {
                                    Total += item.Sanpham.Gia * item.Soluong;
                                    <tr>
                                        <td class="thumbnail-img">
                                            <a href="/cua-hang/san-pham?id=@item.Sanpham.MaSanPham">
                                                <div class="img-fit cart" style="background-image: url('@item.Sanpham.HinhChinh'),url('/Content/images/default.png');">
                                                </div>
                                                @*<img class="img-fluid" src="@item.Sanpham.HinhChinh" alt="" />*@
                                            </a>
                                        </td>
                                        <td class="name-pr">
                                            <a href="/cua-hang/san-pham?id=@item.Sanpham.MaSanPham">
                                                @item.Sanpham.TenSanPham
                                            </a>
                                        </td>
                                        <td class="price-pr">
                                            <p>@string.Format("{0:#,##0}", @item.Sanpham.Gia) đ</p>
                                        </td>
                                        <td class="quantity-box">
                                            <div class="quantity-box-wrap">
                                                <button class="btn decrease open update-cart" data-id="@item.Sanpham.MaSanPham"><i class="fas fa-minus"></i></button>
                                                <input type="number" data-id="@item.Sanpham.MaSanPham" maxValue="@item.Sanpham.SoLuongTonKho" size="4" value="@item.Soluong" min="0" step="1" class="c-input-text qty text txtquantity">
                                                <p class="message" data-id="@item.Sanpham.MaSanPham"></p>
                                                <button class="btn increase open update-cart" data-id="@item.Sanpham.MaSanPham"><i class="fas fa-plus"></i></button>
                                            </div>
                                        </td>
                                        <td class="total-pr" style="font-weight: 700;">
                                            <p>@string.Format("{0:#,##0}", item.Sanpham.Gia * item.Soluong) đ</p>
                                        </td>
                                        <td class="remove-pr">
                                            <a href="#" data-id="@item.Sanpham.MaSanPham" class="delete-product">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h3 style="font-size: 20px;" class="none-notify text-center text-red">Giỏ hàng trống!!! </h3>
                }
            </div>
        </div>

        <div class="row ">
            @*<div class="col-lg-6 col-sm-6">
                    <div class="coupon-box">
                        <div class="input-group input-group-sm">
                            <input class="form-control" placeholder="Nhập mã voucher" aria-label="Coupon code" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-theme change-color" type="button">Sử dụng voucher</button>
                            </div>
                        </div>
                    </div>
                </div>*@

            @if (Model.Count > 0)
            {
                <div class="col-lg-12 col-sm-12">
                    <div class="update-box">
                        @*<input class="change-color" id="btn-update" value="Cập nhật" type="submit" />*@
                        <button type="submit" id="btn-update" class="update-cart btn hvr-hover max-width-mobile text-capitalize p-2 float-right mt-3 shadow">Cập nhật</button>
                    </div>
                </div>
            }
        </div>

        <div class="row my-5">
            <div class="col-lg-8 col-sm-12"></div>
            <div class="col-lg-4 col-sm-12">
                <div class="order-box">
                    <h3>Đơn hàng</h3>
                    <div class="d-flex">
                        <h4>Số sản phẩm</h4>
                        <div class="ml-auto text-color" >@Model.Count() loại</div>
                    </div>
                    @*<div class="d-flex">
                            <h4>Phí ship</h4>
                            <div class="ml-auto font-weight-bold"> Free </div>
                        </div>
                        <div class="d-flex">
                            <h4>Thuế</h4>
                            <div class="ml-auto font-weight-bold"> $ 2 </div>
                        </div>*@
                    <hr class="my-1">
                    <div class="d-flex">
                        @*<h4>Voucher giảm giá</h4>
                        <div class="ml-auto font-weight-bold">0 đ</div>*@
                        <h4>Tiền hàng</h4>
                        <div class="ml-auto text-color">@string.Format("{0:#,##0}", @Total) đ</div>
                    </div>


                    <hr>
                    <div class="d-flex gr-total">
                        <h5>Tổng cộng</h5>
                        <div class="ml-auto h5">@string.Format("{0:#,##0}", @Total) VNĐ</div>
                    </div>
                    <hr>
                </div>
            </div>
            @if (Model.Count > 0)
            {
                <div class="col-12 d-flex shopping-box">
                    <a href="/thanh-toan" class="ml-auto btn hvr-hover max-width-mobile font-weight-bold">Thanh toán</a>
                </div>
            }
            else
            {
                <div class="col-12 d-flex shopping-box">
                    <a onclick="showNotify('Giỏ hàng trống!','bag-handle-outline')" class="ml-auto btn hvr-hover max-width-mobile font-weight-bold">Thanh toán</a>
                </div>
            }

        </div>

    </div>
</div>
<!-- End Cart -->
