@model IEnumerable<ChanhThu_Store.Models.Voucher>
@using System.Globalization;
@{ CultureInfo VN = new CultureInfo("vi-VN");}

@{
    ViewBag.Title = "DanhSachVoucher";
    Layout = "~/Views/Shared/_Main_Layout.cshtml";
}

<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-capitalize">Voucher</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">Voucher</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container full-container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 shop-content-left">
                <div class="right-product-box">
                    <!-- <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Sort by </span>
                                <select id="basic" class="selectpicker show-tick form-control"
                                    data-placeholder="$ USD">
                                    <option data-display="Select">Không</option>
                                    <option value="1">Phổ Biến</option>
                                    <option value="2">Giá Cao → Giá Thấp</option>
                                    <option value="3">Giá Thấp → Giá Cao</option>
                                    <option value="4">Bán Chạy</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    @{
                        Html.RenderAction("LayDiemUser", "Vouchers");
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Tên voucher
                </th>
                <th>
                    Giá trị giảm
                </th>
                <th>
                    Điểm đổi
                </th>
                <th>
                    Hạn sử dụng
                </th>
                <th>
                   Tùy chọn
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TenVoucher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTriGiam)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiemDoi)
                </td>
                <td>
                    @item.HanSuDung.ToString("d", VN)
                </td>
                @if (Request.IsAuthenticated)
                {
                    <td>
                        <a class="btn login hvr-hover voucher-point" style="min-width:130px;" data-point="@item.DiemDoi" href="/Vouchers/DoiVoucher?idVoucher=@item.MaVoucher">Đổi mã</a>
                       
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn login hvr-hover voucher-point btnDisable" style="min-width:130px;" data-point="@item.DiemDoi">Buộc đăng nhập</a>
                    </td>
                }

            </tr>
            }
        </tbody>



    </table>
</div>

