@model ChanhThu_Store.Models.Voucher
@using System.Globalization;
@{ CultureInfo VN = new CultureInfo("vi-VN");}
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Main_Admin.cshtml";
}

@using (Html.BeginForm("Edit", "VouchersAdmin", FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2 class="table-admin__title text-white text-center">Chỉnh sửa thông tin<br /> Voucher</h2>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaVoucher)

        <div class="form-group">
            <span class="label-admin">Tên voucher</span>
            <div class="col-md-12">
                @Html.EditorFor(model => model.TenVoucher, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenVoucher, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="label-admin">Giá trị giảm (%)</span>
            <div class="col-md-12">
                @Html.EditorFor(model => model.GiaTriGiam, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiaTriGiam, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="label-admin">Điểm đổi</span>
            <div class="col-md-12">
                @Html.EditorFor(model => model.DiemDoi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemDoi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <span class="label-admin">Hạn sử dụng</span>
            <div class="col-md-12">
                <input class="form-control" name="HanSuDung" type="text" value="@Model.HanSuDung.ToString("d", VN)">
                @*@Html.EditorFor(model => model.HanSuDung, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.HanSuDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-12">
            <div class="col-md-offset-2 btn-touch">
                <input type="submit" value="Cập nhật" class="btn btn-warning" />
            </div>
        </div>
        <div class="col-md-12 back-to-list ">
            @Html.ActionLink("Trở lại", "Index")
        </div>
    </div>
}

